<html>
    <head>
        <title>Reset</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="back">
        <div class="container">
        <form method="POST" action="otp_post">
        <div>
            {% with errors = get_flashed_messages(category_filter=["OTP_wrong"]) %}
            {% if errors %}
            <ul>
            {% for msg in errors %}
            <div class="alert alert-warning alert-dismissible fade show" id ="opt_alert" role="alert">
              <strong>{{ msg }}</strong> 
              <br><br>
            </div>
            {% endfor %}
            </ul>
            {% endif %}
          {% endwith %}
                          {% with errors = get_flashed_messages(category_filter=["Password_dont_match"]) %}
                {% if errors %}
                <ul>
                {% for msg in errors %}
                <div class="alert alert-warning alert-dismissible fade show" id ="opt_alert" role="alert">
                  <strong>{{ msg }}</strong> 
                  <br><br>
                </div>
                {% endfor %}
                </ul>
                {% endif %}
              {% endwith %}  
        </div>
        <div>
        {% with errors = get_flashed_messages(category_filter=["Credentials_dont_match"]) %}
        {% if errors %}
        <ul>
        {% for msg in errors %}
        <div class="alert alert-warning alert-dismissible fade show" id ="opt_alert" role="alert">
          <strong>{{ msg }}</strong> 
          <br><br>
        </div>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}  
        </div>

        <label>User Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" name="user_name" id="user_name" value = "" required><br><br> 
        <label>User Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" name="user_email" id="user_email" value = "" required><br><br>    
        <label>Enter the otp that you have obtained: </label>
        <input type="password" name="user_otp" id="otp1" value = "" required><br><br>
        <label>New Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="password" name="new_password" class="pass" id="newpwd" value = "" required><br><br>
        <label>Confirm New password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="password" name="confirm_new_password" class="pass" id="confirmnewpwd" value = "" required><br><br>
        <button type="submit">Go to Login</button> 
        </form>
        </div>
        </div> 
    </body>
</html>